.container {
    margin: 0 auto;
    max-width: 1300px;
  }
  
  .main-content-p {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  
  .resultdata {
    display: flex;
    justify-content: center;
  }
  
  .slider {
    width: 50%;
    height: 8px;
    background-color: #cdd9ed;
    margin-top: 20px;
    
  }
  
  .slider .thumb{
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #275efe;
    margin-top: -8px;
  }